{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
{% endfor %}

{% if name %}
    <h1> Hello {{ name }}</h1>
{% else %}
    <h1> Registrazione</h1>
    <br/>
    <div class="shadow p-3 bg-body rounded my-register-form">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(class="form-control") }}
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        {{ form.password_confirm.label(class="form-label") }}
        {{ form.password_confirm(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    </div>
<br/>
{% for our_user in our_users%}
    {{ our_user.id }}.
    <a href="{{ url_for('users.update', id=our_user.id)}}">
    {{ our_user.name }}
    </a>
    {{ our_user.email }} - 
    PW: {{ our_user.password_hash }} -
    <a href="{{ url_for('users.delete', id=our_user.id)}}">Delete</a>
{% endfor %}

{% endif %}
{% endblock %}