{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
       {{ message }}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  
{% endfor %}

{% if email %}
    <h1> Hello {{ email }}</h1>
    <h1> Password: {{ password }}</h1>
    <br/>
    <h2> I Found: </h2>
    Name: {{pw_to_check.name}}
    Email: {{pw_to_check.email}}
    PW: {{pw_to_check.password_hash}}<br/>
    Passed: {{passed}}
    <p id="demo"></p>
<script src="{{ url_for('static', filename='js/myfile.js')}}"></script>
{% else %}
    <h1> What's Your email and password?</h1>
    <br/>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
        <br/>
        {{ form.password_hash.label }}
        {{ form.password_hash(class="form-control") }}
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endif %}
{% endblock %}